.logo {
  display: inline-block;
  height: 100%; }
  .logo img {
    height: 80%;
    margin: 5%; }

.hamburger {
  display: none; }

.nav-show {
  transform: translateX(0); }

.nav-right {
  float: right;
  text-transform: uppercase;
  color: #4d4d4d; }

.nav-shrink {
  height: 50px;
  line-height: 50px; }

nav.show-search-page {
  transform: translateY(-100%); }

.nav-container {
  height: 100%;
  width: 75%;
  margin: 0 auto; }

nav {
  top: 0;
  z-index: 1000;
  height: 70px;
  background: white;
  line-height: 70px;
  position: fixed;
  width: 100%;
  transition: transform 0.3s, height 0.3s ease-in-out, line-height 0.3s ease-in-out; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0 15px;
      margin: 0;
      cursor: pointer;
      transition: background 0.3s ease, color 0.3s ease;
      float: left; }
      nav ul li:hover {
        background: #5cccb8;
        color: white; }

#my-work {
  padding: 30px 0;
  background: linear-gradient(#6cb663, #46a494);
  overflow: auto; }
  #my-work h2 {
    color: white; }

.img-grid {
  overflow: auto; }
  .img-grid ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .img-grid ul li {
      width: 23%;
      margin: 1%;
      position: relative;
      padding: 0;
      background: lightgreen;
      display: inline-block;
      float: left;
      cursor: pointer;
      position: relative;
      overflow: hidden; }
      .img-grid ul li:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 75%; }
      .img-grid ul li > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .img-grid ul li img {
        width: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      .img-grid ul li span {
        padding: 0 8px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: rgba(54, 54, 54, 0.4);
        width: calc(100% - 16px);
        line-height: 1.5em;
        text-align: center;
        color: #e4e4e4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }

.more-btn {
  width: 140px;
  height: 40px;
  background: #7bea6d;
  border-radius: 50px;
  box-shadow: 0 2px 10px -5px black;
  float: none;
  clear: both;
  margin: 10px auto;
  margin-top: 30px;
  text-align: center;
  line-height: 40px;
  color: black;
  cursor: pointer;
  transition: 0.3s color, 0.3s box-shadow; }
  .more-btn:hover {
    box-shadow: 0 4px 15px -5px black; }

#about-me {
  padding: 30px 0;
  overflow: auto;
  background: antiquewhite; }
  #about-me .mask {
    width: 25%;
    max-width: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 2;
    position: relative; }
    #about-me .mask:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    #about-me .mask > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  #about-me img {
    max-width: 100%; }
  #about-me .quote-box {
    position: relative;
    margin: 0 auto;
    max-width: 35em; }
    #about-me .quote-box .quote {
      display: inline-block;
      width: 70%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translateY(-50%);
      z-index: 1; }
      #about-me .quote-box .quote:before, #about-me .quote-box .quote:after {
        display: block;
        position: absolute;
        background: #46a494;
        width: 100px;
        height: 4px;
        left: 50%;
        transform: translateX(-50%);
        content: ""; }
      #about-me .quote-box .quote:before {
        top: -15px; }
      #about-me .quote-box .quote:after {
        bottom: -15px; }
  #about-me .btn-story {
    transition: height 0.3s ease-in-out; }
    #about-me .btn-story .story {
      background: white;
      padding: 20px;
      box-shadow: black 0 5px 30px -15px;
      color: white;
      background: #46a494;
      margin: 0 auto;
      margin-top: 30px;
      max-width: 45em; }

#expos {
  padding: 30px 0;
  background: #46a494; }
  #expos h2 {
    color: white; }
  #expos h3 {
    color: white;
    text-align: center; }
  #expos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    max-width: 35em;
    margin: 0 auto; }
    #expos ul .event {
      background: lightpink;
      display: grid;
      grid-template-columns: 64px 1fr 64px;
      margin-bottom: 2px;
      }
      #expos ul .event .event-date {
        display: grid;
        grid-template-rows: 1fr 32px;
        background: white;
        position: relative;
        height: 100%; }
        #expos ul .event .event-date .event-day {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
           }
        #expos ul .event .event-date .event-month {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          color: white;
          background: #ff8181;
          text-align: center; }
      #expos ul .event .event-info {
        color: black;
        padding: 0 10px;
        background: antiquewhite;
          text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 32px; 
        padding: 8px 16px;
      }
      #expos ul .event:last-child {
        margin-bottom: 0; }

#contact {
  background: antiquewhite;
  position: relative;
  padding: 30px 0;
  overflow: auto; }
  #contact iframe {
    display: block;
    margin: 0 auto; }
  #contact form {
    max-width: 30em;
    margin: 0 auto;
    margin-top: 20px; }
    #contact form span {
      display: block;
      margin: 10px 0;
      position: relative;
      transition: transform 0.3s;
      transform: translate(5px, -42px);
      pointer-events: none;
      color: grey; }
    #contact form input {
      padding: 10px 5px;
      display: block;
      width: 100%;
      font-size: 1.2em;
      box-sizing: border-box;
      border: solid 1px #efbe7c; }
      #contact form input:focus + span,
      #contact form input.has-value + span {
        transform: translate(5px, -84px);
        color: black; }
    #contact form textarea {
      font-size: 1.2em;
      width: 100%;
      max-height: 4.8em;
      min-height: 4.8em;
      font-family: 'Rubik', sans-serif;
      box-sizing: border-box;
      border: solid 1px #efbe7c; }
      #contact form textarea + span {
        transform: translate(5px, -6em); }
      #contact form textarea:focus + span,
      #contact form textarea.has-value + span {
        transform: translate(5px, calc(-6em - 38px));
        color: black; }
    #contact form input[type="submit"] {
      border: none;
      font-family: 'Rubik', sans-serif;
      background: linear-gradient(45deg, #7bea6d, #5cccb8);
      border-radius: 40px;
      box-shadow: 0 2px 10px -5px black;
      width: 100%;
      cursor: pointer;
      transition: 0.3s linear-gradient, 0.3s box-shadow;
      font-size: 1em;
      color: white;
      margin: 10px 0;
      width: 140px;
      display: block;
      margin: 0 auto; }
      #contact form input[type="submit"]:hover {
        box-shadow: 0 4px 15px -5px black; }

.search-page {
  background: linear-gradient(#6cb663, #46a494);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.8s transform ease; }
  .search-page .categories {
    margin: 20px 0;
    margin-top: 45px; }
    .search-page .categories ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .search-page .categories ul li {
        display: inline-block;
        background: #689663;
        border-radius: 20px;
        padding: 5px 15px;
        margin: 5px;
        box-shadow: 3px 6px 10px -8px black;
        color: black;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background .3s ease-in-out; }
        .search-page .categories ul li.active {
          background: #a2c09f; }
  .search-page .back-btn {
    color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    cursor: pointer; }
  .search-page .img-grid {
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 99px); }

.search-page.show-search-page {
  transform: translateX(0); }

html img {
  image-orientation: from-image; }

body {
  background: white;
  margin: 0;
  font-family: 'Rubik', sans-serif; }

body.show-search-page {
  overflow-y: hidden; }

.front-page {
  transition: .8s transform ease;
  perspective: 300px; }

.front-page.show-search-page {
  transform: translateX(-100%); }

.container {
  width: 75%;
  margin: 0 auto;
  height: auto; }
  .container h2 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center; }

button:focus {
  outline: 0; }

.rotate90 {
  transform: rotate(90deg); }

.rotate180 {
  transform: rotate(180deg); }

.rotate270 {
  transform: rotate(270deg); }

#hero {
  margin-top: 50px;
  height: 80vh; }
  #hero .hero-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/HERO/hero.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative; }
    #hero .hero-img .hero-quote {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 3em; }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

html {
  -webkit-backface-visibility: hidden; }

/*

.mfp-figure - container that holds image and caption
.mfp-bg     - black overlay
.mfp-preloader - "Loading..." incdicator

*/
.mfp-ready .mfp-figure {
  opacity: 0; }

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-figure {
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: scale(0.9); }
  .mfp-zoom-in.mfp-bg,
  .mfp-zoom-in .mfp-preloader {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-image-loaded .mfp-figure {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg,
  .mfp-zoom-in.mfp-ready .mfp-preloader {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-figure {
    transform: scale(0.9);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg,
  .mfp-zoom-in.mfp-removing .mfp-preloader {
    opacity: 0; }

/* CSS-based preloader */
.mfp-preloader {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  opacity: 0.65;
  margin: 0 auto;
  animation: rotateplane 1.2s infinite ease-in-out; }

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .img-grid li {
    width: 23%; }
  .container, .nav-container {
    width: 85%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #hero {
    height: 80vh; }
    #hero .hero-img .hero-quote {
      width: 80%;
      font-size: 1.8em; }
  .container, .nav-container {
    width: 95%; }
  nav {
    height: 50px;
    line-height: 50px; }
  .nav-right.nav-show {
    transform: translateX(0%); }
  .nav-right {
    float: none;
    right: 0;
    top: 50px;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background: white;
    height: 100%; }
    .nav-right li {
      display: block;
      float: none; }
  .hamburger {
    display: inline-block;
    color: #333333;
    float: right;
    padding: 0 15px;
    font-size: 2.5em;
    border: none;
    background: none;
    height: 100%;
    cursor: pointer; }
  .img-grid ul li {
    width: 31.3%; }
    .img-grid ul li:nth-last-child(-n+2) {
      display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .img-grid ul li {
    width: 48%; } }

/* Custom, iPhone Retina */
